[2015-11-05 09:30] mitjarobic opened #9 "migration on different env or connection"
How can i do that?

This always returns Doctrine Connection named "pgsql" does not exist.

[code]

This always loads the environment defined in .env file

[code]

[2015-11-06 08:45] patrickbrouwers commented on #9
Is your connection actually named pqsql? (The array key)

[2015-11-06 09:10] mitjarobic commented on #9
pgsql, yes

[2015-11-28 15:52] #9 closed, assigned to nobody

[2015-12-06 04:17] bryanrscott opened #10 "symfony/yaml version"
Hi

Just doing a default install, along the lines below and when adding migrations get a package conflict on symfony/yaml[v2.3.0, v3.0.0]. I suspect that v3 has been released recently

To reproduce
composer create-project laravel/laravel --prefer-dist app_name
cd app_name
composer require firebase/php-jwt
composer require guzzlehttp/guzzle
composer require laravel-doctrine/orm
composer require lar

[2015-12-06 12:59] patrickbrouwers commented on #10
Does composer error out of just show a warning?

Anyway it's a issue with the parent package (https://github.com/doctrine/migrations/blob/v1.1.0/composer.json#L15), not a lot we can do about it. Best you open an issue over there.

[2015-12-06 22:07] bryanrscott commented on #10
Hi

The full list

Using version ^1.0 for laravel-doctrine/migrations
./composer.json has been updated

  Problem 1
    - laravel-doctrine/migrations 1.0.0 requires laravel-doctrine/orm dev-master -> no matching package found.
    - laravel-doctrine/migrations 1.0.2 requires doctrine/migrations ~1.1.0 -> satisfiable by doctrine/migrations[v1.1.0].
    - laravel-doctrine/migrations 1.0.3 requires d

[2015-12-07 08:35] mikeSimonson commented on #10
@bryanrscott Can you show your composer.json ? thanks

[2015-12-07 09:00] bryanrscott commented on #10
sure I am actually testing installing from scratch from laravel

{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.5.9",
        "laravel/framework": "5.1._",
        "illuminate/html": "^5.0",
        "firebase/php-jwt": "^3.0",
        "guzzlehtt

[2015-12-07 09:11] mikeSimonson commented on #10
@bryanrscott I need to fix master and tag a new release to fix that. It will be done this week.

[2015-12-07 09:17] bryanrscott commented on #10
Great.  thanks

[2015-12-14 22:50] joshhornby commented on #10
@mikeSimonson Any update on this?

[2015-12-16 22:58] bryanrscott commented on #10
Hi

Looks like the doctrine/migrations has been updated.  Thanks.  Updated version is 1.2.

Now failing as
Problem 1
    - laravel-doctrine/migrations 1.0.4 requires doctrine/migrations ~1.1.0 -> no matching package found

Just wondering if laravel-doctrine/migrations dependancy could be updated to support doctrine/migrations@1.2

[2015-12-16 23:01] patrickbrouwers commented on #10
Yes, if you can make a PR for that, would be great :)

[2015-12-17 09:07] patrickbrouwers commented on #10
Tagged as 1.0.5

[2015-12-17 09:07] #10 closed, assigned to nobody

[2016-01-28 21:47] ngrevet opened #18 "Support for UUID field type"
I'm trying to implement a schema migration involving a custom `uuid` field type but I'm not exactly sure if this is something that can be done using the `LaravelDoctrine\Migrations` classes. I added my custom type to the doctrine configuration and mapping as so:

[code]

But it doesn't seem like the query/schema builder supports custom types at all:

[code]

 So I went back and just tried to creat

[2016-01-29 11:17] josenicomaia commented on #18
@ngrevet-lightspeed Question, why are you using mapping_types? Is there an uuid or uuid_binary database type?

[2016-01-29 15:25] ngrevet commented on #18
Yeah, no, I guess I copy-pasted the wrong part. That was part of an earlier testing.

[2016-01-29 16:11] josenicomaia commented on #18
@ngrevet-lightspeed I am not using UUID, but what about using and string field for uuid?

[2016-01-29 16:27] ngrevet commented on #18
Nope, that's not a possibility, storing it as a string field would reduce performance. We need it to be a `BINARY(16)`. Is there any way to do that except by directly writing the SQL as-is in the migration scripts? How to write migrations for custom doctrine types?

[2016-01-29 17:11] josenicomaia commented on #18
I studied the code and come to an conclusion.

For now, you can workarround this with:

[code]

After that, I suggest you to PR an improvement to Table::binary ( https://github.com/laravel-doctrine/migrations/blob/1.0/src/Schema/Table.php#L426 ) in order to add lenght to the method.

I hope this help you.

[2016-01-29 17:13] josenicomaia commented on #18
Confirmed. It's the length option.

`
length (integer): The maximum length of the column. Only applies to Doctrine’s string and binary types. Defaults to null and is evaluated to 255 in the platform.
`

http://doctrine-orm.readthedocs.org/projects/doctrine-dbal/en/latest/reference/schema-representation.html#portable-options

[2016-01-29 17:17] josenicomaia commented on #18
@ngrevet-lightspeed If you test this. I could PR this for you.

[2016-01-29 17:40] patrickbrouwers commented on #18
It's possible the builder is not complete.

What about letting doctrine generate the migrations for you? (Diff tool)

[2016-01-30 16:25] ngrevet commented on #18
That sounds pretty smart @josenicomaia, I'm on vacations for now, but will test this as soon as I'm back!

[2016-01-30 18:03] josenicomaia commented on #18
@ngrevet-lightspeed Diff tool is amazing!! Doctrine generate the migrations automaticaly from your entities changes.

[2016-02-03 10:26] driesvints opened #19 "doctrine:schema:update tries to drop the migration table"
When running `php artisan doctrine:schema:update --sql` I get the following output:

[code]

This shouldn't happen as the `doctrine_migration_version` table is the table which stores the migrations (as set in our configuration).

Using `laravel-doctrine/migrations` 1.0.6 & `laravel-doctrine/orm` 1.1.2

[2016-02-03 10:28] patrickbrouwers commented on #19
That's strange, will look into it. Don't have the issue myself.

[2016-02-03 10:38] driesvints commented on #19
The odd thing is that when I run `php artisan doctrine:migrations:diff` that specific rule doesn't gets written into a new migration file. So I suspect the check for the migration table is specifically missing from the `doctrine:schema:update` command.

[2016-02-04 16:42] ngrevet commented on #18
Thanks @josenicomaia, the `$table->getTable()->addColumn()` with a length worked wonderfully. I can't believe I missed it! This will make things much simpler.

[2016-02-04 16:42] #18 closed, assigned to nobody

[2016-02-04 17:10] josenicomaia commented on #18
@ngrevet-lightspeed Great!
It's a workarround. I will post an PR to solve it properly and you will be able to use `$table->binary('id', 16);` normaly.

I will let you know when the PR were merged to the project.

[2016-02-04 18:37] ngrevet commented on #18
Alright, even better! Thanks a lot.

[2016-02-08 19:14] michaelk83 opened #20 "Named migrations"
I would like to include the purpose of each migration in the file name. So instead of `Version20150915130401.php`, it might be something like `Version20150915130401.cool_new_feature.php`. Then it would be easily visible what each migration does.

I saw in the code that there's a `NamingStrategy` interface and an undocumented `naming_strategy` config setting, which I can use to implement a custom n

[2016-02-08 19:22] michaelk83 opened #21 "Schema builder commands from diff tool"
Currently the diff tool only generates a raw SQL migration. It would be useful to have it generate schema builder commands instead, at least as an option. That would be nicer to review and edit, and should also be more portable across different SQL backends (no need to regenerate the migration for each backend).

[2016-02-10 13:55] driesvints commented on #21
Since this library is a wrapper for `doctrine/migrations` this should be requested on their own Github repo. There's actually already a length discussion going on here which dates back from 2012: https://github.com/doctrine/migrations/pull/79

[2016-02-10 14:08] michaelk83 commented on #21
I agree that upstream support would be good, but the builder commands in this library would work with the `Builder` class, which isn't upstream.

With the current state of the upstream code, one can use `Doctrine\DBAL\Schema\Comparator` to get a `Doctrine\DBAL\Schema\SchemaDiff` instance. That's what `Doctrine\DBAL\Schema\Schema::getMigrateToSql()` does internally.

From there it should be possibl

[2016-02-17 18:42] patrickbrouwers commented on #20
Have tried that once, didn't get it to work properly. Doctrine/migrations seems coupled to that structure of naming.

[2016-02-17 18:42] #20 closed, assigned to nobody

[2016-02-17 18:44] patrickbrouwers commented on #21
Will have to wait for doctrine/migrations#79 . Will see if in the future we can implement the interface ourselves, but highly doubt I will implement that. It's just migrations, it doesn't have to look fancy.

[2016-02-17 18:44] #21 closed, assigned to nobody

[2016-02-17 18:46] patrickbrouwers commented on #19
Still not able to reproduce it, I can run `schema:update` without loosing my `migrations` table.

Assuming you change your config from `migrations` to `doctrine_migration_version`?

[2016-03-08 08:45] driesvints commented on #19
Heya, sorry for the late response. I'll try to see today if I can reproduce the problem again. I'll let you know.

[2016-03-08 15:26] driesvints commented on #19
Ok, this is pretty embarrassing 😅

Turns out, there was a custom `SchemaUpdateCommand` registered which overwrote the Laravel Doctrine one and was pretty outdated with the newer implementation. That's why some things like the migration table check failed.

I'm very sorry about this. I totally missed this. Sorry for waisting your time! 😓

[2016-03-08 15:26] #19 closed, assigned to nobody

[2016-03-08 17:45] patrickbrouwers commented on #19
No problem :) Glad to hear the package is working as it should :)

[2016-03-10 15:45] ngrevet opened #23 "ErrorException: Undefined variable: migration"
I've been having an issue lately with the Laravel Doctrine Migration tool where it basically just fails with this error:

[code]

When you take a look at the file where the issue is happening (`laravel-doctrine/migrations/src/Console/MigrateCommand.php`), it looks like a code defect introduced by this commit: https://github.com/laravel-doctrine/migrations/commit/f9b33815df3753ab3888b8c362f8ae796a4

[2016-03-10 15:50] patrickbrouwers commented on #23
Seems it only happens when you pass it an invalid version, else the $migration variable is present.

Think it should end the execution after it fails.
If you could send in a PR to end the execution `MigrationVersionException $e` that would be helpful.

[2016-03-10 16:48] ngrevet commented on #23
Not sure how you'd want that done, I could end the execution, but I mean... just putting a `die` there feels wrong.

[2016-03-10 17:32] patrickbrouwers commented on #23
Have a look at this suggestion: https://github.com/laravel-doctrine/orm/pull/129

[2016-03-14 10:23] driesvints commented on #23
Note that that PR is specifically for the ORM commands. I did went through the migrations commands on this library as well but didn't find places where to add exit codes because the commands here differ significantly from the Doctrine Migrations commands. The logic is quite different in some places.

Perhaps by diving deeper into the logic of this library's commands you could add some exit codes h

[2016-03-15 01:52] kirkbushell opened #24 "Migration diffs keep creating same migration"
Hey there!

Weird thing going on when I run doctrine:migrations:diff without making any changes - it makes the same migration over and over.

This is the migration that it keeps making:

[code]

Here's the YAML file:

[code]

[2016-03-22 14:56] driesvints commented on #24
We have the same problem regularly but that's because we're caching the metadata. Perhaps you're experiencing the same problem? `doctrine:clear:metadata:cache` should solve this.

[2016-03-23 10:56] chrischnweiss opened #26 "Migration stuck on Postgresql database"
Hi there,

got the following error on migrating two entities two my postrgesql database. These tables are also related with a OneToMany relationship... so what.

Without the relationship the migration runs fine, but after adding the relationship I run in this error:

[code]

I know that FOREIGN_KEY_CHECKS not compatible with Postgres, but my doctrine and database configs are also set to postgres.

[2016-04-03 18:03] oddz opened #27 "Reset command fails for tables that are reserved words"
I have a table named "lines" in my database. When the reset command is executed the below error occurs.

Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'lines' at line 1

The cause of this is that the doctrine DBAL platform method does not quote strings that are supplied. T

[2016-04-03 18:07] oddz commented on #26
Sadly the code that does that is hard-coded in the command. You will need to create your own command that uses the postgres implementation of disabling foreign key checks. Long term though I think it would be good for the package to provide different strategies for each platform.

[2016-04-06 15:22] patrickbrouwers commented on #26
These are problems related to the parent package "doctrine/migrations". Nothing we can do about that over here.

[2016-04-06 15:22] #26 closed, assigned to nobody

[2016-04-06 15:23] patrickbrouwers commented on #24
- Did you migrate, so the database is in sync? It compares the database schema with the yaml schema.
- Like @driesvints mentions, did you clear the metadata cache ?

[2016-04-11 23:13] jonsa opened #28 "Reset command does not work on anything but MySQL"
As noted in this old [issue](https://github.com/laravel/framework/issues/2502) from 2013. `SET FOREIGN_KEY_CHECKS = 0` is MySQL specific. But `ResetCommand::fire` wraps the `dropTable` calls with it, which will fail on e.g. `sqlite`.

[2016-04-15 07:14] #28 closed, assigned to nobody

[2016-04-22 08:21] driesvints opened #30 "--dry-run flag ignored when running doctrine:migrations:migrate"
For some reason, the `--dry-run` flag seems to be ignored when I try to run it with the migrate command. I tried to see where the problem lies but couldn't really find anything. Since this library mostly passes CLI arguments to internal Doctrine classes, not much should be able to go wrong here from this lib's end.

Can anyone perhaps test this out as well so I know this isn't just on my side?

[2016-06-15 08:46] aschwin opened #31 "Documentation is lacking information about migrations table"
I looked into the documentation for 1.1 and I did not find any information about how to the migrations table should be set up.

The default migrations table from Laravel itself does not contain a version column (as far as I could tell).

Did I miss something?

[2016-06-15 08:56] aschwin commented on #31
I'm sorry, the table is created on the fly if there is none yet. However, this is not documented either.

[2016-06-15 08:56] #31 closed, assigned to nobody

[2016-06-16 14:21] #24 closed, assigned to nobody

[2016-06-16 14:21] #23 closed, assigned to nobody

[2016-07-24 13:05] patrickbrouwers commented on #27
I personally think you should never use any reserved keywords in your tables. Not going to actively support this as it's a best practise. People running into the same problem can use your Subscriber.

[2016-07-24 13:05] #27 closed

[2016-08-14 15:14] dave-redfern opened #32 "Enhancement: per entity manager migration configs"
Ran into this one yesterday: currently the migrations do not allow truly independent migrations for multiple entity managers. You can specify the connection etc. however the generated migrations do not maintain this information or provide a mechanism to only apply specific migrations and very quickly things descend into a mess.

Doing some research and the main Doctrine Migrations allows for a sep

[2016-08-20 15:10] dave-redfern commented on #30
@driesvints `--dry-run` needs to be specified as `--dry-run=true` because it is setup as `--dry-run=` so the default is false. If you add =true it will actually do a dry-run.

I know kinda old but answering anyway since I just went through this myself.

[2016-08-20 15:11] dave-redfern commented on #32
@patrickbrouwers not sure if you saw this or not, so being a little cheeky and pinging you ;)

[2016-08-24 11:37] josecelano opened #33 "How to ignore custom tables"
I have some tables for which there is no doctrine mapping file. When I run:

[code]

The SQL migration contains a DROP for those tables.

I do not know how to tell doctrine to ignore some tables:

http://doctrine-orm.readthedocs.io/projects/doctrine-migrations/en/latest/reference/generating_migrations.html#ignoring-custom-tables

Is there a way to add a "ignore table list" in the config file?

[2016-08-24 12:02] josecelano commented on #33
I saw there is already an option in file:

[code]

Is that the option I am looking for? I will check it.

[code]

[2016-08-31 07:34] aschwin commented on #32
Hi Dave,

I run into the same issues. We have a legacy database and we need entities from that database. We also have a brand new database and use it as a default.

Updates on the legacy database can not be run, because it is not seen from the migration script. This is a huge flaw indeed. I will look into your PR and see if it is usable for us.

[2016-08-31 15:17] dave-redfern commented on #32
@aschwin I'll make the PR will make it easier to see the changes.

[2016-08-31 15:44] patrickbrouwers commented on #32
@dave-redfern sorry for the late response I was on holiday. Looks good, thanks for the fallback as well.

[2016-08-31 15:48] patrickbrouwers commented on #33
Yes the `filter` regex option is what you need.

[2016-08-31 17:32] dave-redfern commented on #32
@patrickbrouwers I made the change requested in PR; no problems - we are all allowed downtime ;)

[2016-09-01 15:38] FoxxMD commented on #33
@josecelano in case you need an example for the regex here's what my filter looks like for ignoring multiple tables:

[code]

Use the pipe character to list all the names of tables and fill er up.

[2016-09-02 08:47] josecelano commented on #33
Thank you!

[2016-09-02 08:47] #33 closed, assigned to nobody

[2016-09-05 11:26] josecelano opened #35 "Migration script tries to create migrations table always"
Hi:

I have renamed migrations table name to avoid conflicts with Laravel/Eloquent migrations table:

[code]

But now, every time I try to execute migration script: `php artisan doctrine:migrations:migrate`
I get this error:

[code]

I have tried to remove completely the database and then create the schema and run migrations.
The first time I run the migration script it works, but the second time

[2016-09-24 17:53] #32 closed, assigned to nobody

[2016-09-25 03:46] ghost commented on #35
I began to experience this after upgrading to 1.1.0.

[2016-09-25 13:17] patrickbrouwers commented on #35
Just tested it with 1.1.0, but I can change the table name to `migrations_doctrine` without any problem, it never tries to recreate it.

Seems it bypasses  this check`if (!$this->connection->getSchemaManager()->tablesExist([$this->migrationsTableName])) {`  in the parent package (doctrine/migrations).
Maybe you can try to debug it in `Configuration@createMigrationTable`, as I can't reproduce it.

[2016-09-25 15:59] ghost commented on #35
In that function $this->migrationsTableName is set to "migrations".
I also found this:
In laravel-doctrine/migrations/src/Configuration/ConfigurationFactory@make, the $name parameter is set to NULL.
As a result this code is executed:
} else {
            $config = new Collection($this->config->get('migrations.default', []));
        }

[2016-09-26 02:55] ghost commented on #35
The issue appears to be the **structure** of config/migrations.php
I had:
`
return [
        'table' => 'migrations_doctrine',
        'directory' => database_path('migrations'),
        'namespace' => 'Database\\Migrations',
        'schema' => [
                'filter' => '/^(?).*$/'
        ]
];
`

The vendor version:
`
return [
    'default' => [
        'table'     => 'migrations',
        '

[2016-09-26 08:41] josecelano commented on #35
I have found the problem. My regular expresion to filter tables in `migrations.php` config file was wrong. I was using something like:

[code]

because I wanted to exclude Eloquent migrations table.

That regular expresion excludes also the table `migrations_doctrine`. And that's why doctrine tries to create it, becuase there is a method which returns a list of tables except excludes tables. THe l

[2016-09-26 08:41] #35 closed, assigned to nobody

[2016-09-26 08:46] josecelano commented on #33
hey @FoxxMD I had a problem with that regular expression because it excludes al tables with that prefix not only tables with that full name.

If you want to exclude exactly the tables whose full name is in the regular expresion table list you have to use:

[code]

Notice `\b` option.

[2016-10-10 12:57] XanManZA opened #36 "Testing UseDatabaseMigrations UUID error"
So not sure if this is the right place.
I think I found an error when trying to use the DatabaseMigrations trait on my Test classes. I have tried multiple avenues for the past few days, but keep getting the same error:

I'm not sure if this trait uses your existing migrations? But I do have statements like
`$table->uuid('id');`
in my migrations that those tests might use.

[2016-10-10 13:07] patrickbrouwers commented on #36
We don't have any `$table->uuid('id');`, are you sure you are using Laravel-Doctrine and not just Eloquent?

[2016-10-10 14:12] XanManZA commented on #36
Double-checked! Yes, using Eloquent, my mistake. Will close.
Thank you!

[2016-10-10 14:12] #36 closed, assigned to nobody

[2016-11-15 10:41] driesvints opened #38 "Default schema filter doesn't filters failed_jobs table"
For some reason, the default filter doesn't seems to work for me. Whenever I run `php artisan doctrine:migrations:diff` it creates a migration that tries to drop the `failed_jobs` table. Any idea what might be wrong?

[code]

[2016-11-22 23:40] ChrisSchwerdt commented on #38
I'm experiencing the same issue. It appears to be a bug in the `ConfigurationFactory` class. I've submitted #39 to fix this issue.

As a temporary workaround you can specify your schema filter on the command line using `php artisan doctrine:migrations:diff --filter-expression='/^(?!password_resets|failed_jobs).*$/'`, though I'd recommend adding an anchor to the list of table names for more specifi

[2016-11-24 09:22] patrickbrouwers commented on #38
Released as 1.1.1

[2016-11-24 09:22] #38 closed, assigned to nobody

[2017-01-12 21:08] ngrevet opened #40 "Adding a column after another existing column"
Laravel 5.3 exposes [a method to add a column](https://laravel.com/docs/5.3/migrations#column-modifiers) to a table at a precise position (after a given existing column). I think it's missing from this library or did I miss it somewhere?

[2017-01-12 22:46] martin-georgiev commented on #40
@ngrevet-lightspeed have in mind that specifying the new column position is not a SQL-wide feature and probably it is better if you avoid using it.

[2017-01-13 15:20] ngrevet commented on #40
Sure I know, but still, Laravel has a disclaimer for that, I thought it could work the same way:

It feels starnge to just dump new fields at the end of tables with no regard for their logical order or grouping. You end up with fucked up schemas.

[2017-01-13 15:29] martin-georgiev commented on #40
Maybe there is some confusion here around Doctrine's purpose and how it is intended to work.
Doctrine is built to be as datastore agnostic as sensibly possible. From a data perspective point-of-view, it will not matter if your new column is placed in a particular position or not, as this doesn't affect the data or the server performance. More on that, Doctrine shall isolate your code from the data

[2017-01-13 16:26] ngrevet commented on #40
Good point, duly noted.
I understand the idea behind this decision, my OCDs are just kicking in when I look at the table in a SQL client 😀

[2017-01-13 16:26] #40 closed, assigned to nobody

[2017-01-29 13:51] #30 closed, assigned to nobody

[2017-01-30 10:12] LavaToaster opened #42 "Update version constraints for laravel-doctrine/orm"
Currently working around this by aliasing the new release in my composer.json file:

[code]

[2017-01-30 10:37] patrickbrouwers commented on #42
Should be fixed.

[2017-01-30 12:13] #42 closed, assigned to nobody

[2017-01-30 13:16] LavaToaster commented on #42
❤️

(Already said this on slack, but here's some more public appreciation)

[2017-01-30 16:29] patrickbrouwers commented on #42
Haha thanks @Lavoaster, much appreciated :)

[2017-02-09 06:57] ekeyte opened #43 "setGeneratorStrategy throws a type error"
I have a Laravel 5.4 application with Laravel-Doctrine/migrations 1.1 configured. When I log into the workspace to run artisan commands, the Doctrine migrations fail with this error:

`$ php artisan doctrine:migrations:migrate`

[code]

Here is the verbose output:
[code]

*Here is the migration I'm trying to run:*

[code]

This was generated with the `php artisan doctrine:migrations:diff` and suck

[2017-02-09 10:33] patrickbrouwers commented on #43
Seems like you installed a php7.1 version of ProxyManager, but are using php7.0.
Not really something this package can fix in regards to that; you might need to lock the version of proymanager in your composer.json.
 The dependency comes from the doctrine/migrations base package.

[2017-03-15 08:12] aftabnaveed opened #44 "How to add new migration version ?"
Based on what is described here http://www.laraveldoctrine.org/docs/1.2/migrations/version this might sound naive or irrelevant, but I am new to Laravel and therefore migrations. I apologise if that is the case here.

According to the documentation http://www.laraveldoctrine.org/docs/1.2/migrations/diff I can generate migrations from my entities meta data which is great.  My question is how can I

[2017-03-15 08:16] aftabnaveed commented on #44
Ok the answer was much simpler than I thought. All I had to do was create a new migration
```php artisan doctrine:migrations:generate```

after adding my meta data to the newly generated migration I just had to run
```php artisan doctrine:migrations:migrate```  to update existing tables.

[2017-03-15 08:16] #44 closed, assigned to nobody

[2017-03-22 19:34] #43 closed, assigned to nobody

[2017-07-02 06:19] isaackearl opened #50 "refresh and reset command do not work for me while using postgres"
### Package version, Laravel version
laravel/framework                       v5.4.28 The Laravel Framework.
laravel-doctrine/orm                    1.3.6   A Doctrine ORM bridge for Laravel 5
laravel-doctrine/migrations           1.1.5   Doctrine Migrations for Laravel

### Expected behaviour
``` php artisan doctrine:migrations:reset ```
should reset the database... but instead it drops the migrat

[2017-07-02 06:31] isaackearl opened #51 "Migration in postgres always adds $this->addSql('CREATE SCHEMA public'); to the down() in migration"
laravel-doctrine/orm                  1.3.6   A Doctrine ORM bridge for Laravel 5
laravel-doctrine/scout                0.1.1   A Doctrine bridge for Laravel Scout
laravel/framework                     v5.4.28 The Laravel Framework.

I run the diff and then the migration and it builds my database etc...
Then I run diff again and it always creates a new migration with this line:

[code]

I searched

[2017-07-03 13:25] guiwoda commented on #51
@isaackearl thanks for the heads up!
Personally, I'm not a fan of duplicating doctrine docs in here. What we can do tho is add some sort of warning message on our docs and point to the DBAL issue you linked.

Would you mind opening a PR on https://github.com/laravel-doctrine/docs ?

[2017-07-10 01:33] isaackearl commented on #51
@guiwoda Ya I went ahead I finally did that.  Wasn't sure how much detail to add so I opted for being brief.  If you would like me to change the note then let me know.  https://github.com/laravel-doctrine/docs/pull/71

[2017-07-10 01:33] #51 closed, assigned to guiwoda

[2017-07-27 19:55] dave-redfern commented on #50
I remember running into this issue myself quite a while ago. If I remember correctly it's caused by the migrations table being dropped too early in the reset/refresh. I wrote a separate command that ran `doctrine:schema:drop --quiet --force --em=<name>` and then added an some custom sql queries through the entity manager connection to remove migrations and the queue tables.

[2017-09-01 07:07] meltzow opened #53 "add support for laravel 5.5"
after I upgrade to laravel 5.5. an laravel-doctrine/orm 1.3.x-dev

I got the following message:

[ReflectionException]
Method LaravelDoctrine\Migrations\Console\MigrateCommand::handle() does not  exist

https://laravel.com/docs/5.5/upgrade says:

The fire Method
Any fire methods present on your Artisan commands should be renamed to handle.

[2017-09-01 07:09] meltzow commented on #53
I see you got a PR for it: https://github.com/laravel-doctrine/migrations/pull/52

[2017-09-01 07:16] patrickbrouwers commented on #53
Btw use 1.4.* for ORM. 1.3 doesn't have 5.5 support

[2017-09-01 07:16] #53 closed, assigned to nobody

[2017-09-18 07:26] retnek opened #54 "Unexpected error in console commands in Lumen 5.5"
Hello,

After I upgraded my Lumen from 5.4.36 to 5.5 the doctrine migration commands aren't working properly anymore, I've got an exception:

`ReflectionException: Method LaravelDoctrine\Migrations\Console\GenerateCommand::handle() does not exist in ...`

If I run `doctrine:migration:diff` then I've got a similar exception:

`ReflectionException: Method LaravelDoctrine\Migrations\Console\DiffComma

[2017-09-18 16:51] patrickbrouwers commented on #54
Can you check if you are running on the latest version of LD-migrations? it should be 1.1.6

[2017-09-19 05:44] retnek commented on #54
I didn't use the latest package of LD-migrations (1.0.5) so after I upated the package to 1.1.6 the issue has been solved. Sorry about that.

[2017-09-19 09:13] #54 closed, assigned to nobody

[2017-10-05 20:23] ecgifford92 commented on #50
The team I'm on found this issue today and it looks like for postgres, it's attempting to re-enable triggers on the migrations table _after_ the table's already been dropped. You can see this in the `safelyDropTable` function in the `ResetCommand` class -- it makes a call to `getCardinalityCheckInstructions` which provides the query to re-enable the triggers.

Simply removing the post-drop query m

[2017-10-26 16:16] jttfbd commented on #35
[Illuminate\Database\QueryException] SQLSTATE[42501]: Base table or view already exists: 1050 Table 'password_resets' already exists (SQL: create table 'password_resets' ("email' varchar(255) not null, 'token' varchar(255) not null, 'created_at' timestamp null) defau It character set utfSmb4 collate utfSmb4_unicode_ci)

[PDOException] SQLSTATE[42501]: Base table or view already exists: 1050 Table

[2017-10-30 12:02] gabyrusu opened #56 "generating migrations based on config"
Hello, I tried changing the default migrations config to:
[code]
but it seams it has no effect at all on generating migrations. They are still created in the default namespace.

Can you check please?

Thanks!

[2017-10-30 12:06] gabyrusu commented on #56
I had v1.0.5, in 1.1.7 it's ok. Sorry!

[2017-10-30 12:06] #56 closed, assigned to nobody

[2017-11-15 08:44] mmizera commented on #33
This is not a valid solution, migrations.php is configuration for eloquent, not doctrine-migrations. I try to set filter, nothing happend. I even rename/delete migrations.php and doctrine:migrations:diff is still working, thus this config is not loaded/used in any way !

[2017-11-18 19:50] bmnluiz opened #57 "Conflict on migration diff using Swagger annotations"
I'm using zircote/swagger-php to create documentation of my project.

They use doctrine/annotations to generate the documentation.

I'm trying to find a way to use laravel-doctrine and zircote/swagger-php with annotations, and not yml, xml or other stuff.

Am i missing something really silly?

The error:
`[Doctrine\Common\Annotations\AnnotationException]`
`[Semantical Error] The annotation "@SWG\S

[2017-12-07 16:24] Jalle19 opened #58 "The "force" option does not exist when running doctrine:migrations:rollback"
[code]

Either this command should not use `ConfirmableTrait` or it should add a `--force` option.

[2018-01-22 10:20] jesseyofferenvan opened #59 "Unable to run migrations"
Recently installed laravel-doctrine in my laravel 5.5 project and started making migrations using doctrine. Now when I try to run: `php artisan doctrine:migrations:migrate`

It returns the following error:

In Version20180122094236.php line 20:

  Call to undefined method Doctrine\DBAL\Schema\Column::index()

This is the migration file it's complaining about:
[code]

my composer.json looks as foll

[2018-01-22 19:27] patrickbrouwers commented on #59
Hey @jesseyofferenvan

Are you sure you are showing the right migration file? Your error is about `Version20180122094236` , the migration is called `Version20180122094136`.

[2018-02-14 10:06] Jalle19 commented on #58
Any updates on this?

[2018-02-14 22:39] garret-gunter commented on #58
I vote for adding it.  I ran into this problem the other day.

[2018-02-14 23:13] garret-gunter opened #61 "[Bug?] --query-time option for MigrateCommand ignores blank value"
## Description

When running `doctrine:migrations:migrate` the `--query-time` option won't be counted unless you pass something to it.  The command does not care what you put after, it will work with `doctrine:migrations:migrate --query-time='hello'`.

Code where the option is checked.
https://github.com/laravel-doctrine/migrations/blob/f1292c3dcb894bf5d310775e4bb1d9bd9e74d658/src/Console/MigrateC

[2018-02-14 23:13] garret-gunter commented on #61
I can make a pull request.

[2018-02-14 23:51] garret-gunter opened #62 "[Feature] Display the migration output from the base Doctrine migrator."
## Detailed Description

Currently only the migration notes are displayed.  But any other output from the base doctrine migrator won't be written to console.

## Context

It would be nice to see the extra output from doctrine.  I made a quick, dirty solution to show the difference.

**Current behavior:**
![image](https://user-images.githubusercontent.com/8146238/36233947-a3db062a-11a5-11e8-85b9-ce

[2018-02-15 11:35] Jalle19 commented on #58
@garret-gunter I'll make a PR

[2018-02-23 11:33] lmillucci opened #65 "[Bug] Add all versions do not work"
# Package version, Laravel version
Laravel Framework 5.5.33
laravel-doctrine/migrations": 1.1.7
laravel-doctrine/orm": 1.4.3

# Expected behavior
`php artisan doctrine:migrations:version --all --add`
should add all versions

# Actual behavior
[code]

I think that a possible solution is to mark as optional `version` argument in the `VersionCommand`

[2018-03-01 17:40] #58 closed, assigned to nobody

[2018-04-06 16:54] AnatolyRugalev commented on #50
IMO in cases with `needsTableIsolation == true`, enabling cardinality checks back makes no sense

[2018-04-06 20:21] patrickbrouwers commented on #62
Sorry for the late reply. Happy to accept a PR for it.

[2018-04-06 20:21] patrickbrouwers commented on #65
Sorry for the late reply, can you make a PR for your solution, thanks.

[2018-04-06 20:22] #59 closed, assigned to nobody

[2018-04-06 20:22] patrickbrouwers commented on #61
PR would be great, thanks

[2018-05-09 16:30] SPie opened #68 "Undefined method Kernel::setArtisan() in DatabaseMigrations trait"
I'm using the DatabaseMigrations trait for my tests  with Lumen 5.6 and I'm getting this error:
`Call to undefined method App\Console\Kernel::setArtisan()`

Is it possible that the line
`$this->app[Kernel::class]->setArtisan(null);`
just worked for a previous Laravel version, or did I miss to bind a special Kernel?

[2018-05-22 11:11] eigan commented on #68
Are you extending `Illuminate\Foundation\Console\Kernel`?
https://github.com/laravel/framework/blob/5.6/src/Illuminate/Foundation/Console/Kernel.php#L330

[2018-05-22 14:49] SPie commented on #68
Sorry, I mixed it up a little.
I'm using Lumen 5.6 and the Lumen Kernel doesn't provide the method `setArtisan()`.

[2018-05-26 14:15] hshahdoost opened #69 "[Bug] DatabaseMigrations trait rollsback only the latest migration"
I believe, The behavior of this trait `LaravelDoctrine\Migrations\Testing\DatabaseMigrations` is not correct.  At the beginning of the test `runDatabaseMigrations` runs all of the migrations and makes the test database ready. But after the test is finished line 21 is executed which is `doctrine:migrations:rollback` and it only rollsback the latest migration and all of the other migrations are stil

[2018-05-28 08:32] #65 closed, assigned to nobody

[2018-05-28 08:42] patrickbrouwers commented on #69
That used to be expected behaviour, rollback should only rollback the last migration. (As there was no way to determine "batches") If you want to rollback all of them you can use `doctrine:migrations:reset` Do note that this doesn't rollback, but drops the tables.

In case the parent package has modified the behaviour, I'm happy to accept a PR that syncs the console commands.

[2018-05-28 08:43] patrickbrouwers commented on #68
Happy to accept a PR with better Lumen support.

[2018-05-28 08:44] patrickbrouwers commented on #57
Sorry for the late response, you can better open an issue in the doctrine project. We are just a wrapper package.

[2018-05-28 15:33] hshahdoost commented on #69
Sorry, I didn't see that, You are right

[2018-05-29 06:41] lmillucci opened #70 "[Bug] VersionCommand --no-interaction should add migrations without asking confirmation"
# Package version, Laravel version
Laravel Framework 5.5.33
laravel-doctrine/migrations": 1.1.9
laravel-doctrine/orm": 1.4.3

# Expected behavior
`php artisan doctrine:migrations:version --all --add --no-interaction`
should add all versions without asking for confirmation

# Actual behavior

[code]

I'm going to submit a PR with a viable solution

[2018-05-29 13:47] SPie commented on #68
I'd like to do that, but the problem is, I don't know exactly what this line is for.
Otherwise, I would just remove it, because it doesn't make sense to me.

[2018-05-29 13:52] patrickbrouwers commented on #68
I think it's copied from Laravel, you could have a look over there how they solved the problem with Lumen? I think it needs to stay for Laravel.

[2018-05-30 07:19] eigan commented on #68
https://github.com/laravel/lumen-framework/blob/b31cac1714122469e01b152dd963d11ac6293298/src/Testing/DatabaseMigrations.php

Should be ok to remove it for Lumen.

[2018-05-30 16:29] patrickbrouwers commented on #70
Merged the PR

[2018-05-30 16:29] #70 closed, assigned to nobody

[2018-06-06 01:04] jwage opened #73 "Add support for Doctrine Migrations 2.0"
I have been working on Doctrine Migrations 2.0 in https://github.com/doctrine/migrations master.

Opening an issue here to discuss and track progress for upgrading this library to 2.0.

[2018-06-10 13:17] hshahdoost commented on #69
@patrickbrouwers There is a difference in the implementation of `rollback` in LaravelDoctrine and Laravel, I believe it is a **bug**.

Calling `migration:rollback` rolls back the last batch of migrations not only one migration, so if we have executed 10 migrations at once by calling rollback all of them would be removed. but `doctrine:migrations:rollback` only rolls back the last executed migratio

[2018-06-10 19:33] patrickbrouwers commented on #69
@hshahdoost as I said before this package is just a wrapper and we just call the parent package to handle the migrations. We follow doctrine/migrations, not how how Laravel handles migrations; as the philosophy behind them is different.  I can't find any "batch" behaviour Laravel has.

 I wouldn't call this a bug, as it's just a implementation choice of doctrine/migrations . If you believe it's an

[2018-06-10 19:33] #69 closed, assigned to nobody

[2018-06-12 17:31] patrickbrouwers commented on #73
Thanks for the heads-up @jwage !

[2018-06-12 18:10] #68 closed, assigned to nobody

[2018-07-08 15:44] vv12131415 opened #75 "All migrations are created with altering `sessions` table"
### Bug Report

|    Q        |   A
|------------ | ------
| BC Break    | no
| laravel-doctrine/migrations version     | 1.1.10
| Laravel Framework version     | 5.6.25
| php version     | 7.2.7-1
| MySQL version     | 5.7.22

#### Summary

When running `artisan doctrine:migrations:diff` it's always creates migration that contains changes to `sessions` table.

#### Current behavior
Running `artis

[2018-10-03 15:14] kolvin opened #77 "--allow-no-migration"
I cant see any docs nor can i run the follow command - i use this in symfony projects and it would be great if you could add it!

[2018-10-04 16:14] SPie commented on #61
I can open a PR if you are ok with it, @garret-gunter .
I would use your first option, because I think this is the right way of using this option, even it could break some implementations. Maybe this needs to be merged to the next minor version then.

[2018-10-31 01:33] knifesk opened #80 "Changed migrations table name and now it tries to create it every time"
Hi, I'm using the lumen migrations for the failed_jobs table... So, I changed the name for the table to "migrations_doctrine" in the config file.. But now each time I try to add a new migration I get errors about:
[code]
Should I blacklist migrations_doctrine too?

[2018-10-31 18:52] AnatolyRugalev commented on #50
I found that `DROP TABLE IF EXISTS {$table} CASCADE` statement works perfect for PostgreSQL 10.3.

[2018-10-31 19:54] patrickbrouwers commented on #50
@AnatolyRugalev If it's fixed, can I close this issue?

[2018-10-31 19:55] patrickbrouwers commented on #80
Try blacklisting it here: https://github.com/laravel-doctrine/migrations/blob/1.2/config/migrations.php#L59 (even though it should just work out of the box)

[2018-10-31 19:56] patrickbrouwers commented on #77
Closing as there's a PR for that now:https://github.com/laravel-doctrine/migrations/pull/78

[2018-10-31 19:56] #77 closed, assigned to nobody

[2018-10-31 19:57] patrickbrouwers commented on #75
Perhaps it's better to ask this at doctrine/migrations? I'm not sure what's causing it

[2018-10-31 20:19] knifesk commented on #80
I did.. but it didn't work. Apparently the setting is being used for creation, but when the doctrine/migrations library checks if the table exists it fails (because it wouldn't be trying to create it if it were using the "migrations" name), but when it tries to create it uses the correct name (which does exists) and then fails.. I ended up reverting to "migrations" and renamed the lumen's one to "

[2018-11-09 12:14] AnatolyRugalev commented on #50
It is not fixed even after merged PR.

I have to override original command in order to make it work. Looks like we need to implement `DROP` statement for PostgreSQL in a different way. Disabling cardinality checks doesn't allow to drop table if it has any dependents. The solution is to drop them recursively with `DROP TABLE IF EXISTS {$table} CASCADE`.

Is it OK if I make a PR with this implementa

[2018-11-09 12:15] patrickbrouwers commented on #50
Sure go ahead

[2018-11-09 12:20] AnatolyRugalev commented on #73
[Upgrade instructions](https://github.com/doctrine/migrations/blob/master/UPGRADE.md) looks pretty simple.

Shall we support both versions after stable release of 2.0?

[2019-01-24 10:03] loperd opened #82 "How to register all migrations from package in the ServiceProvider laravel?"
I have https://github.com/nWidart/laravel-modules this package, and i want to registered all migrations with ServiceProvider. How to make it???

[2019-01-24 20:18] SPie commented on #82
As far as I understood, you have to specify a directory for your migrations in the `config/migrations.php` file.
[code]

[2019-01-24 21:10] loperd commented on #82
@SPie i need to register on the fly. I have modules and i need register all migrations in the ModuleServiceProvider. Understand?
I'm sorry for my bad english..

[2019-01-25 10:07] SPie commented on #82
@Renay I think it is not possible at the moment because the migration configuration gets the path for the migration from the config file.
You would need to write your own `Doctrine\DBAL\Migrations\Finder\MigrationFinderInterface`. To initialize the `LaravelDoctrine\Migrations\Configuration\Configuration` with your custom `MigrationFinder` you have to write a custom `LaravelDoctrine\Migrations\Nami

[2019-01-25 22:29] loperd commented on #82
@SPie Okay, thx. I understand :+1:

[2019-02-07 15:29] KamilKopaczyk opened #83 "MigrateCommand in non-interactive mode exits with 1 error code when there are unavailable migrations"
Hello,

considering there is one row in database migration table and there are no migration files in code base,
running
[code]
outputs
[code]

In non-interaction mode it should print a warning, but proceed with migration execution (as implemented in doctrine/migrations MigrateCommand command).

Correct me if i'm wrong, but currently there is no way to overcome this warning.

I can submit a PR for

[2019-02-20 11:57] kennaar opened #84 "[Bug] Refresh command command not working with filtered tables"
Hi,

I'm trying to use the refresh command to rollback and migrate my database. I have a migration for a `password_resets` table.
When I run the refresh command, internally it calls the reset command and it doesn't drop the `password_resets` table because I have it in my `migrations.schema.filter` regex listed.
Then the refresh command calls the migrate command and it tries to create the `password

[2019-03-07 16:58] SPie commented on #84
You can use the `Builder::hasTable($tableName)` method so you only create a table if it doesn't exist already.

[code]

[2019-03-21 15:20] seticzech opened #85 "Migrations diff and postgres schema problem with recreating existing tables"
Package | Version
------------ | -------------
doctrine/annotations | v1.6.0
doctrine/dbal | v2.9.2
doctrine/migrations | v1.8.1
doctrine/orm | v2.6.3
laravel-doctrine/migrations | 1.2.0
laravel-doctrine/orm | 1.4.9
laravel/framework | v5.7.27
PostgreSQL | 9.6.11
PHP | 7.2.15

#### Summary

Running `doctrine:migrations:diff` multiple times without any changes and with existing table in database al

[2019-04-25 09:22] vv12131415 commented on #73
@jwage can you help me with reviewing PR when I'll make one?

[2019-04-25 10:59] jwage commented on #73
Yes

[2019-05-28 05:09] galvani commented on #57
@patrickbrouwers would you share the link to the issue you've created in doctrine?

[2019-06-14 21:05] garret-gunter commented on #62
This might be something for us to handle when updating to doctrine/migrations 2.x.

[2019-06-14 21:12] #61 closed, assigned to nobody

[2019-06-15 15:43] seticzech opened #86 "Add support for custom stubs for generate migrations"
Command `doctrine:migrations:generate` uses 'stubs' files as templates for generate migration classes. It would be nice to have support for create custom stubs.

We need to add the same custom `postUp()` and `postDown()` methods to every generated migration. Now we have to add these methods manually and custom stub file is exactly the solution we need for adding these two methods to migration clas

[2019-09-03 08:08] fsasvari opened #87 "doctrine:migrations:refresh command does not work on reserved MySQL keywords"
When I try to run "doctrine:migrations:refresh", the following error occurs:

[code]

The problem occurs when trying to drop a table which has some of the reserved MySQL keywords like ORDER.

When you look at `src/Console/ResetCommand.php`, line 91:

`$schema->dropTable($table);`

The problem is solved if you put quotes ` between $table variable:

https://i.imgur.com/r9E8yz0.png

Is there any othe

[2019-09-24 03:30] dextercampos opened #89 "Call to undefined function LaravelDoctrine\Migrations\str_contains()"
Since Laravel 6.0, `str_` and `array_` helpers have been moved to a new package. Instead of requiring this new `laravel/helpers` package, it's better if we use what's already under  #`Illuminate\Support`.

[2019-09-24 03:31] dextercampos commented on #89
Created a PR for this #88 ;)

[2019-09-24 05:56] eigan commented on #89
Merged :)

[2019-09-24 05:56] #89 closed, assigned to nobody

[2019-09-24 06:07] eigan commented on #89
Released in `1.3.1`.

[2019-12-02 15:03] blacktemplar commented on #73
Any progress?

[2020-01-10 14:45] FlashBlack opened #92 "Support option: organize_migrations"
Subject.

For add the ability to auto create migrations in a folder by month and year.

[2020-02-16 17:00] FlashBlack commented on #92
Merged. Thanks!

[2020-02-16 17:00] #92 closed, assigned to nobody

[2020-02-16 18:19] eigan commented on #92
I will let you know when I release it (later today).

[2020-02-16 19:07] eigan commented on #92
Released with 1.3.2. Thanks!

[2020-04-03 22:02] lsrzj opened #93 "Dependency problem with doctrine/migrations 1.4.0 in Laravel 7.4.0"
I tried to install laravel-doctrine/migrations in Laravel 7.4.0 and I'm getting dependency problems with it check composer output.

`
Problem 1
    - Conclusion: don't install laravel-doctrine/migrations 1.4.0
    - Conclusion: remove symfony/console v5.0.7
    - Installation request for laravel-doctrine/migrations ^1.4 -> satisfiable by laravel-doctrine/migrations[1.4.0, 1.4.x-dev].
    - Conclus

[2020-04-04 01:48] dpslwk commented on #93
Unfortunately `laravel-doctrine/migrations` 1.4 should not have been released
there is no current working support for L7 in migrations, this is being worked on and will be release as 2.0, but it's taking some effort as the underlying  `doctrine/migrations` needs to be updated to at least 2.2.x.
the new release will be under 2.0 not 1.4 as the move to doctrine/migrations 2.2.x may well introduce BC

[2020-04-05 18:37] eigan commented on #93
laravel-doctrine/migrations 2.0 is now released with support for Laravel 7, thanks to @chewbakartik!

Note that there is some breaking changes because of the upgrade to doctrine/migrations 2.0. See the release notes here: https://github.com/laravel-doctrine/migrations/releases/tag/2.0.0

[2020-04-06 18:59] lsrzj commented on #93
Well, I tried to install with 2.0 and I had success, so I'll close the issue.

[2020-04-06 18:59] #93 closed, assigned to nobody

[2020-06-23 17:09] thrashzone13 opened #97 "[BUG] Migrations diff doesn't work"
I get this error on running migrations diff command
[code]

[2020-06-23 17:13] chewbakartik commented on #97
What version of `migrations` are you running? Did you recently upgrade your project? There were some breaking changes in the most recent release, that requires some steps from you to upgrade your older migrations.

You can read about which updates are needed in the release notes for 2.0.0

https://github.com/laravel-doctrine/migrations/releases/tag/2.0.0

[2020-06-23 17:14] thrashzone13 commented on #97
@chewbakartik
these are the veriosns I'm using
[code]

[2020-06-23 17:15] chewbakartik commented on #73
This should be closed, 2.0 is supported in the current latest release `2.1.0`

[2020-06-23 17:56] chewbakartik commented on #97
@mirzacodenevis please look at this Migration file: `Version20200409152424`

You probably have in this file `use Doctrine\DBAL\Migrations\AbstractMigration;`
It needs to be `use Doctrine\Migrations\AbstractMigration;`

Also should check for this one:
`use Doctrine\Schema\Schema;` needs to be `use Doctrine\DBAL\Schema\Schema;`

It sounds like this file is not updated with the breaking changes for t

[2020-06-23 18:13] #73 closed, assigned to nobody

[2020-06-23 18:50] dpslwk commented on #97
Just added a PR #98
should help others that run into this

[2020-06-24 14:46] thrashzone13 commented on #97
@chewbakartik the problem happens on running `php artisan doctrine:migrations:diff` command, I don't have migration file yet

[2020-06-24 15:20] chewbakartik commented on #97
@mirzacodenevis there is something that the diff is comparing to as the base, your error message says that it is `Version20200409152424`. Please search your codebase for a file named `Version20200409152424.php`, it should be in the `database/migrations` folder. Once you find that file, either delete it if it's not needed, or update it with the instructions posted above.

[2020-06-24 15:29] thrashzone13 commented on #97
@chewbakartik I had forgotten to clear the cache!! thanks anyway

[2020-06-24 15:30] #97 closed, assigned to nobody

[2020-09-14 22:53] martio opened #100 "Add support for Laravel 8"
Hi! Please support for Laravel ver. 8.x 👍

[2020-09-15 16:21] eigan commented on #100
2.2.0 released thanks to @sojeda in #101, please try it out! :)

[2020-09-20 19:15] froccsos commented on #100
Hi @eigan!

You should check this: https://packagist.org/packages/laravel-doctrine/migrations#2.2.0
[code]

[2020-09-20 21:22] eigan commented on #100
Sorry for this. I actually did the same mistake in https://github.com/laravel-doctrine/extensions/issues/50.. :man_facepalming:

Thanks for letting me know! I should test better myself.

[2020-09-21 06:22] froccsos commented on #100
Thank you! :)

[2020-09-22 18:50] rela589n opened #102 "Table already exists error if there is intermediate entity for many-to-many relationship"
I get next error when try to do  `pa doctrine:schema:update`
[code]

Customer:
[code]
Freelancer:
[code]
Job:
[code]
Proposal:
[code]

Or is there way to explicitly define intermediate entity for many-to-many relationship?

[2020-09-23 05:12] eigan commented on #102
Your first table, (many-to-many on freelancersApplied)
[code]
Your second table
[code]

I would suggest renaming your many-to-many table to something like `proposals_freelancers`.
[code]

[2020-09-29 04:34] rela589n commented on #102
But it should be the same table

[2020-10-15 04:08] downace opened #103 "Option organize_migrations not working when generating migrations"
`laravel-doctrine/migrations=2.2.0`
`laravel-doctrine/orm=1.7.1`

`doctrine:migrations:generate` and `doctrine:migrations:diff` commands.

`\LaravelDoctrine\Migrations\Output\MigrationFileGenerator::generate` uses `\Doctrine\Migrations\Configuration\Configuration::getMigrationsDirectory` which just returns migrations directory and ignores organization options.

If I got it right, `\Doctrine\Migrat

[2020-11-21 12:13] rela589n commented on #59
What am i doing wrong? Why does doctrine trying to insert new entry into standard `migrations` table?

![image](https://user-images.githubusercontent.com/41589422/99877000-a209b000-2c03-11eb-967c-32d86d97e741.png)

[2020-11-21 14:52] eigan commented on #59
@rela589n Please open a new issue. Include list of your current installed dependencies (`composer show | grep doctrine`), and output of `describe migrations` from your db table.

[2020-11-21 19:30] rela589n commented on #59
I suppose problem is related to collision with native laravel migrations table (it has a different structure)

[2021-04-26 21:25] laurentvd opened #112 "Incorrect charset + collation used when generating migrations"
When generating migrations, I expected it to honour the charset & collation settings for the Laravel DB connections. With newer versions of Laravel this is set to utf8mb4. However, when generating migrations, it seems to always default to `` DEFAULT CHARACTER SET utf8 COLLATE `utf8_unicode_ci` ``.

I tried looking for a way to tell Doctrine to use utf8mb4 and was looking for something like [this](

[2021-04-26 21:30] laurentvd commented on #87
You can specify the name of the column in your annotations or mapping files. Inside the name you can put the backticks to escape it like so:
[code]

[2021-04-27 06:38] eigan commented on #112
There is some non-documented configuration options available:

In your config/doctrine.php

[code]

These configuration options are sent directly into doctrine.
See `LaravelDoctrine\ORM\Configuration\Connections\MysqlConnection` for available configuration keys.
And by searching for the key inside the `vendor/doctrine` directory can you see how they are used by doctrine.

I guess the values could

[2021-04-27 12:50] laurentvd commented on #112
@eigan thanks a lot! This indeed did the trick. Would you like me to make a PR to add this to the documentation? Or would you rather keep it undocumented?

[2021-04-27 13:11] eigan commented on #112
Sure :)

A PR for laravel-doctrine/orm (file in config/doctrine.php) and perhaps laravel-doctrine/docs. But I have no control over the laravel-doctrine.org site and cannot update it (sadly its very far behind at the moment).

[2021-05-18 07:12] laurentvd commented on #112
I've created a PR, so let's continue there

[2021-05-18 07:12] #112 closed, assigned to nobody

[2021-08-08 05:56] #82 closed, assigned to nobody

[2021-08-30 18:39] jurgenbosch opened #113 "Add attributes metadata support"
Doctrine ORM 2.9 now supports [Attributes mapping](https://www.doctrine-project.org/2021/05/24/orm2.9.html). According to [this ticket](https://github.com/laravel-doctrine/orm/issues/494) the support for such attributes was added in some of the latest versions of the ORM package.

Unfortunately this appears not to work for the migrations.

Is there any plan to support this? It currently stops us f

[2021-08-30 19:32] eigan commented on #113
_Copy-paste reply from me in a different thread:_

Our setup as of now: laravel 8, doctrine 2.9 and PHP 7.4. Plan is to upgrade to PHP 8 by this year which means that these issues will be sorted out by me, unless someone else provide PR :)

[2021-08-30 19:47] jurgenbosch commented on #113
Thanks for the quick reply.
I did a really quick scan of the procedure to detect the differences to see if there is a way I can help.
Are you doing some kind of regex to detect the annotations? If so maybe I can put some time in to make it work for the new PHP8 annotations.

PS. I'm currently using Laravel 8, Doctrine 2.9 and PHP 8.0.9 and the package works just fine with that setup.

[2021-08-30 21:00] eigan commented on #113
I have not tested PHP 8 annotations with doctrine at all actually. Just assumed that doctrine would handle it when using the correct config (as the PR in this repo introduced).

[2022-01-07 19:16] jurgenbosch commented on #113
@eigan Is there any progress on the upgrade to PHP8? Maybe a better question; Is this package still considered to be alive as the last change is close to a year old.

[2022-01-07 19:32] eigan commented on #113
Hello, I am here and project is still alive even no activity. I am just thinking it's a sign that it works for everyone perhaps :)

Our codebase has been ready for PHP 8 for a while, just waiting for the "Operation Team" to upgrade.. so I have not yet tested annotation, have you?

[2022-01-21 16:23] dpslwk commented on #113
My testing show that `doctrine:migrations:diff` works just fine with `DOCTRINE_METADATA=attributes`

[code]

[code]

[2022-02-16 10:33] yurybohush opened #117 "Add support for Laravel 9"
Hello! Please support for Laravel ver. 9.x 👍👍👍

[2022-02-16 11:23] dpslwk commented on #117
It will happen but in order to support laravel 9 we first need to move up to`doctrine/migrations` 3.x (due to the under lying need to be symfony 6).
This is not a small change and is going to need a lot more work (and hence time) than updating that was needed for the other packages in laravel-doctrine project

[2022-02-16 14:40] yurybohush commented on #117
How long to wait? A few days or weeks?

[2022-02-17 05:52] eigan commented on #117
@yurybohush Expect weeks

[2022-03-17 12:41] technokid commented on #117
Hi, everyone.
doctrine/migrations already had version 3.x
and symfony version 6.x
what's next?

[2022-03-24 16:29] yurybohush commented on #117
how much longer to wait?

[2022-03-24 16:32] dpslwk commented on #117
longer every time you ask

there is a PR in the works #118 (have at trying it yourself)
but its waiting for me to find some time to review it

[2022-03-24 18:56] dpslwk commented on #113
closing until there is a supplied bug/issue/example of what down not work

[2022-03-24 18:56] #113 closed, assigned to nobody

[2022-03-24 18:57] #100 closed, assigned to nobody

[2022-03-24 19:42] yurybohush commented on #117
maybe I can buy you coffee?)

[2022-04-22 11:21] yurybohush commented on #117
ok. will use his solution.  thx

[2022-10-06 10:18] hbouhadji-vp commented on #117
any news about this ?

[2022-11-22 21:38] Felipe-Castillo opened #119 "issue installing package in laravel 9"
I am trying to install the migrations on a fresh install of laravel 9, however I am getting this error
` Problem 1
    - Root composer.json requires laravel-doctrine/migrations ^2.3 -> satisfiable by laravel-doctrine/migrations[2.3.0, 2.3.1, 2.x-dev].
    - laravel-doctrine/migrations[2.3.0, ..., 2.x-dev] require illuminate/config ^6.0|^7.0|^8.0 -> found illuminate/config[v6.0.0, ..., 6.x-dev, v7.

[2022-11-23 07:26] eigan commented on #119
There is no other output?

Have you tried any of the other suggestions provided by composer in the output you posted?

Make sure you have doctrine/cache 1.*

[2022-11-30 10:17] JamieGraizevsky commented on #119
I am also having the same issue with a fresh install of laravel 9, created the project then run

`composer require laravel-doctrine/orm` this was successful, but when trying to install migrations `composer require laravel-doctrine/migrations ` I then get this ...

<img width="1993" alt="Screenshot 2022-11-30 at 10 15 20" src="https://user-images.githubusercontent.com/89082138/204769586-809efc0e-42

[2022-11-30 11:15] Felipe-Castillo commented on #119
Hi laravel-doctrine isn't working well with laravel 9 for now, I fixed it using laravel 8, check this post
https://stackoverflow.com/questions/74539303/issue-installing-laravel-doctrine-migrations-package-in-laravel-9

[2022-11-30 11:15] #119 closed, assigned to nobody

[2022-11-30 11:25] eigan commented on #119
https://github.com/laravel-doctrine/migrations/issues/117